<h1>Showing Article Details</h1>
<table>
  <thead>
    <tr>
      <th>Title:</th>
      <th>Description:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @article.title%></td>
      <td><%= @article.body%> </td>
    </tr>
  </tbody>
</table>